.title{
    margin-top: 5%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 2%;
    font-weight: bold;
    font-family: sans-serif;
  }
  table {
      width: 90%;
      margin-left: 5%;
      text-align: center;
    }
    th{
      font-size: 12px;
      font-weight: bold;
      font-family: sans-serif;
    }
    td{
      font-size: 13px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  
    h2{ 
      width: 100%;
      text-align: center;
    }
    th.mat-header-cell {
      text-align: center;
      background-color: rgb(245, 245, 238);
      color: black;
    }
    .loadingSpinner{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  tr.mat-row{
    cursor: pointer;
  } 
  
  .datePicker{
    width: 100%;
    text-align: center;
  }