<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Tours Reservas - ADMIN</h1>
    <div class="spacer"></div>
    {{fecha.toLocaleDateString("es-MX", options)}}
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav class="mat-sidenav">
          <mat-nav-list>
              <a mat-list-item routerLink="historial" (click)="snav.toggle()">Historial</a>
              <a mat-list-item routerLink="reservas_del_dia" (click)="snav.toggle()">Reservas de hoy</a>
              <a mat-list-item routerLink="reservas_proximas" (click)="snav.toggle()">Reservas próximas</a>
              <a mat-list-item routerLink="token" (click)="snav.toggle()">Token</a>
              <a mat-list-item  (click)="logout(snav)">Cerrar sesión</a>
          </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
