<div style="text-align: center; align-items: center;">
    <div>
        <h2>Comisiones del día por hotel</h2>
    </div>
    <div mat-dialog-content>
      <div class="loadingSpinnerComisiones" *ngIf="consultandoInformacion">
        <mat-spinner diameter="40" strokeWidth="5"></mat-spinner>
    </div>
        <table *ngIf="!consultandoInformacion" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <ng-container matColumnDef="hotel">
              <th mat-header-cell *matHeaderCellDef> Hotel </th>
              <td mat-cell *matCellDef="let element"> {{element.hotel}} </td>
            </ng-container>
          
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>Total vendido </th>
              <td mat-cell *matCellDef="let element"> {{formatter.format(element.total)}} </td>
            </ng-container>
          
            <ng-container matColumnDef="comision">
              <th mat-header-cell *matHeaderCellDef> Comisión 10%</th>
              <td mat-cell *matCellDef="let element"> {{formatter.format(element.comision)}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!--  <tr 
            mat-row 
            [routerLink]="['/tour', row.id_horarios_tour, row.fecha_tour]"
            *matRowDef="let row; columns: displayedColumns;">
            </tr> -->
          </table>
          <button style="margin-top:6%;" mat-raised-button color="primary" [mat-dialog-close]="0">Cerrar</button>
    </div>
</div>