
<div class="title">
  Reservas del día

</div>
<div class="loadingSpinner" *ngIf="consultandoDatos">
  <mat-spinner diameter="60" strokeWidth="5"></mat-spinner>
</div>
<div class="sinReservas" *ngIf="!consultandoDatos && reservas.total == null">
  Todavía no hay reservas para el día de hoy
</div>
<div *ngIf="!consultandoDatos && reservas.total != null" class="contenido_reservas">
  <button class="button-class" (click)="showComisionesPorHotel()" mat-raised-button color="accent">Comisiones por hotel</button>
  <div><h2>Total de reservas: {{formatter.format(reservas.total)}}</h2></div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="tour">
      <th mat-header-cell *matHeaderCellDef> Tour </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_tour}} </td>
    </ng-container>
  
    <ng-container matColumnDef="horario">
      <th mat-header-cell *matHeaderCellDef> Horario </th>
      <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fecha_tour">
      <th mat-header-cell *matHeaderCellDef> Fecha Tour</th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_tour | date:'mediumDate'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lugares_totales">
      <th mat-header-cell *matHeaderCellDef> Lugares totales </th>
      <td mat-cell *matCellDef="let element"> {{element.lugares_totales}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lugares_ocupados">
      <th mat-header-cell *matHeaderCellDef> Lugares ocupados </th>
      <td mat-cell *matCellDef="let element"> {{element.lugares_ocupados}} </td>
    </ng-container>

    <ng-container matColumnDef="lugares_disponibles">
      <th mat-header-cell *matHeaderCellDef> Lugares disponibles </th>
      <td mat-cell *matCellDef="let element"> {{element.lugares_disponibles}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getClientesByTour(row)"></tr>
    <!--  <tr 
    mat-row 
    [routerLink]="['/tour', row.id_horarios_tour, row.fecha_tour]"
    *matRowDef="let row; columns: displayedColumns;">
    </tr> -->
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   style="margin-left: 5%; margin-right: 5%;"
                   aria-label="Select page of periodic elements"
                   >
  </mat-paginator>
</div>
