
<mat-card>
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-content>
            <form [formGroup]="miFormulario">
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Correo electrónico" formControlName="correo"/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Contraseña" formControlName="password"/>
                    </mat-form-field>
                </p>
                <div class="loadingSpinnerLoading" *ngIf="logueando">
                    <mat-spinner diameter="40" strokeWidth="5"></mat-spinner>
                </div>
                <button *ngIf="!logueando" [disabled]="miFormulario.invalid" type="submit" mat-raised-button color="primary" (click)="login()">Login</button>
            </form>
    </mat-card-content>
</mat-card>
