<div class="title">
  <mat-icon class="back_button" (click)="backToReservas()">arrow_back</mat-icon>
  Clientes
</div>
<div class="subtitle">
  <p>{{nombre_tour}}</p>
  <p>Fecha: {{fecha_tour | date:'mediumDate'}}</p>
  <p>Horario: {{horario}}</p>
</div>
<div class="loadingSpinner" *ngIf="consultandoDatos">
  <mat-spinner diameter="60" strokeWidth="5"></mat-spinner>
</div>
<div *ngIf="!consultandoDatos">
  <mat-form-field class="search-input">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrarTabla($event)" placeholder="Buscar" autocomplete="off">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="nombre_cliente">
          <th mat-header-cell *matHeaderCellDef> Nombre cliente  </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_cliente}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef> Telefono  </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="correo_electronico">
        <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
        <td mat-cell *matCellDef="let element"> {{element.correo_electronico}} </td>
      </ng-container>

      <ng-container matColumnDef="codigo_reserva">
          <th mat-header-cell *matHeaderCellDef> Código de reserva  </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo_reserva}} </td>
      </ng-container>
      
      <ng-container matColumnDef="lugares_reservados">
        <th mat-header-cell *matHeaderCellDef> Lugares reservados </th>
        <td mat-cell *matCellDef="let element"> {{element.lugares_reservados}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo_tour">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo_tour}} </td>
      </ng-container>

      <ng-container matColumnDef="monto_pagado">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{formatter.format(element.monto_total)}} </td>
      </ng-container>

      <ng-container matColumnDef="hotel">
        <th mat-header-cell *matHeaderCellDef> Hotel </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_hotel}} </td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="cancelarReservaCliente(element)">Cancelar</button>
            <button mat-menu-item (click)="openDialogModificarHorario(element)">Cambiar horario</button>
          </mat-menu>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr 
          mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
  </table>
<!--   <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   style="margin-left: 5%; margin-right: 5%;"
                   aria-label="Select page of periodic elements"
                   >
  </mat-paginator> -->
</div>
  

