.title{
  margin-top: 5%;
  font-size: 25px;
  text-align: center;
  margin-bottom: 2%;
  font-weight: bold;
  font-family: sans-serif;
}
.subtitle{
  font-size: 15px;
  text-align: center;
  margin-bottom: 2%;
  font-weight: bold;
  font-family: sans-serif;
}
.back_button{
  cursor: pointer;
}

p{
  text-align: center;
}

table {
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
  th{
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
  }
  td{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h2{ 
    width: 100%;
    text-align: center;
  } 
  th.mat-header-cell {
    text-align: center;
    background-color: rgb(245, 245, 238);
    color: black;
  }
  .loadingSpinner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .search-input{
    width:40%;
    margin-left: 30%;
    margin-right: 30%;
  }