<div style="text-align: center; align-items: center;">
    <div>
        <h2>Cambiar horario de la reserva</h2>
    </div>
    <div mat-dialog-content>
        <p>Selecciona un horario</p>
        <mat-form-field appearance="fill">
        <mat-label>Horarios</mat-label>
        <mat-select [(value)]="id_horarios_tour_nuevo">
            <mat-option *ngFor="let horario of horarios" [value]="horario.id_horario">
            {{horario.horario}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="!modificandoHorario">
        <button style="margin: 10px;" mat-raised-button color="basic" [mat-dialog-close]="0">Cancelar</button>
        <button style="margin: 10px;" mat-raised-button color="primary" (click)="modificarHorario()" cdkFocusInitial>Aceptar</button>
    </div> 
    <div style="display: flex; justify-content: center; align-items: center; text-align: center;" 
    *ngIf="modificandoHorario">
        <mat-spinner diameter="40" strokeWidth="5"></mat-spinner>
    </div>
</div>