<div style="text-align: center; align-items: center;">
    <div mat-dialog-content>
        <h2>¿Estás seguro de cancelar la reserva?</h2>
    </div>
    <button style="margin: 10px;" mat-raised-button color="basic" [mat-dialog-close]="0">Cancelar</button>
    <button style="margin: 10px;" mat-raised-button color="warn" (click)="cancelarReserva()">Confirmar</button>
    <div style="display: flex; justify-content: center; align-items: center; text-align: center;" 
    *ngIf="cancelandoReserva">
        <mat-spinner diameter="40" strokeWidth="5"></mat-spinner>
    </div>
</div>