
<div class="token" *ngIf="!consultandoToken && token != ''">
  <h2>Token para validar pagos en efectivo</h2>
  {{token}}
</div>
<div class="token_error" *ngIf="!consultandoToken && respuestaToken.respuesta != '1'">
  <h2>{{respuestaToken.mensaje}}</h2>
</div>
<div class="loadingSpinner" *ngIf="consultandoToken">
  <mat-spinner diameter="60" strokeWidth="5"></mat-spinner>
</div>