.token{
  font-size: 20px;
  text-align: center;
  margin: 15%;
}
.token_error{
  font-size: 20px;
  text-align: center;
  margin: 15%;
  color:red;
}
.loadingSpinner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15%;
}