<div class="title">
  Historial
</div>

<div class="loadingSpinner" *ngIf="consultandoDatos">
  <mat-spinner diameter="60" strokeWidth="5"></mat-spinner>
</div>
<div *ngIf="!consultandoDatos">

  <div class="datePicker">
    <mat-form-field appearance="fill" class="calendario">
      <mat-label>Choose a date</mat-label>
      <input #fechaFiltro matInput [matDatepicker]="picker"
      (dateInput)="filtrarHistorialPorFecha($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <button mat-button (click)="removerFiltro(fechaFiltro)">Quitar filtro</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="id_reserva">
      <th mat-header-cell *matHeaderCellDef> ID de reserva </th>
      <td mat-cell *matCellDef="let element"> {{element.id_reserva_tour}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tour">
      <th mat-header-cell *matHeaderCellDef> Tour </th>
      <td mat-cell *matCellDef="let element"> {{element.tour}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="horario">
      <th mat-header-cell *matHeaderCellDef> Horario </th>
      <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha_tour">
      <th mat-header-cell *matHeaderCellDef> Fecha Tour</th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_tour | date:'mediumDate'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="lugares_ocupados">
        <th mat-header-cell *matHeaderCellDef> Lugares ocupados </th>
        <td mat-cell *matCellDef="let element"> {{element.lugares_ocupados}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="lugares_totales">
        <th mat-header-cell *matHeaderCellDef> Lugares totales </th>
        <td mat-cell *matCellDef="let element"> {{element.lugares_totales}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total reservado </th>
      <td mat-cell *matCellDef="let element"> {{formatter.format(element.total)}} </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[50, 100, 500, 1000]" 
  style="margin-left: 5%; margin-right: 5%;"
  aria-label="Select page of periodic elements"showFirstLastButtons>
  </mat-paginator>
</div>

